* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.category_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid red;
  max-width: 300px;
}

.list {
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
}

.category_wrapper ul li {
  list-style: none;
  padding: 5px 10px;
}