* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.list_container {
  display: flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  border: 2px solid blue;
}

.category_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid red;
  width: 33.333%;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  border: 2px solid yellow;
}

.category_wrapper ul li {
  list-style: none;
  padding: 5px 10px;
  text-align: center;
}